.tag {
   color: white;
   border-radius: 15px;
   padding: 5px 10px;
   font-size: 0.9375rem;
   margin-right: 10px;
}

.new {
   background-color: hsl(180, 29%, 50%);
}

.featured {
   background-color: hsl(180, 14%, 20%);
}
