.container {
   display: flex;
}

.container > div {
   margin-right: 20px;
}

.company {
  font-size: 0.9375rem; 
  font-weight: 500;
  margin-right: 20px;
}

.position-title {
  color: hsl(180, 14%, 20%);
  font-weight: 700;
  font-size: 1.25rem;
  padding: 10px;
}

.trivia > span { 
  color: hsl(180, 8%, 52%);
}

.trivia > span:not(:last-child):after {
   content: " \2027 ";
   padding: 7px;
}
