.container {
   display: flex;
   justify-content: space-between;
   padding: 20px;
   box-shadow: hsl(180, 29%, 50%) 0px 10px 20px -10px;
   margin-bottom: 20px;
   border-radius: 10px;
}

.container:hover {
  border-left: hsl(180, 29%, 50%) 5px solid;
  border-radius: 10px;
}

.company {
  font-size: 0.9375rem; 
  font-weight: 500;
  margin-right: 20px;
}

.position {
   display: flex;
}

.position-information {
   padding-left: 20px;
}

.position-title {
  color: hsl(180, 14%, 20%);
  font-weight: 700;
  font-size: 1.25rem;
  padding: 10px 0px;
}

.position-title:hover {
  color: hsl(180, 29%, 50%);
  cursor: pointer;
}

.trivia > span { 
  color: hsl(180, 8%, 52%);
}

.trivia > span:not(:last-child):after {
   content: " \2027 ";
   padding: 7px;
}

@media only screen and (max-width: 870px) {
  .container {
    flex-direction: column;
  }

  .position {
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: 1px solid hsl(180, 8%, 52%);
    margin-bottom: 10px;
  }

  .position-information {
    padding: unset;
  }
}
